#homePage {
  background-image: url("./images/homePageLogo.webp");
  object-fit: contain;


}

.welcome{
  color: black;
  font-weight: bold;
  margin-top:-50px
  
}
.longurl{
  color:DodgerBlue;
  font-weight:bold;

  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:140px
}
